
{% extends "layout.html" %}
{% block body %}
  <div class="container">
  	<div class="row">
  		<div class="col-md-6">
  		<p> Welcome to our thin client based flood modelling tool. This is part of the Master Thesis of David Nagy, Emil Møller Rasmussen and Ioannis Angelidis.</p>
  		<p> If you want to know more, check out the text below if you are interested in knowing something about the development cycle of the project, else click the "Continue" button to get on to get flooding</p>
  		</div>
  		<div class="col-md-6">
  		</div>
  	</div>
 </div>
 <div class="container">
	<div class="row">
  		<div class="col-md-10 col-md-offset-5">
		<a href="/upload"><button type="submit" class="btn btn-default text-center">Continue</button></a>
		</div>
	</div> 
</div>
 <div class="container">
	<div class="row">
		<h2 class="text-center">Description of the project</h2>
	</div>
 	<div class="row">
		<div class="col-md-4">
		<p>Something about floods</p>
		</div>
		<div class="col-md-4">
		<p>Something about something else</p>
		</div>
		<div class="col-md-4">
		<p>Moar?</p>
		</div>
	</div>
 </div>


{% endblock %}
