
{% extends "layout.html" %}
{% block body %}
	<div class="container">
		<div id="map" style = "width = 50%;height=100%;position=absolute:"></div>
		<script src="http://leafletjs.com/dist/leaflet.js"></script>
		<form action="" method="post" enctype="multipart/form-data">
			<input type="file" name="datafile" id= "datafile" accept="image/*">
			<input type="submit" value = "Upload Image" name="submit">
		</form>
	</div>
	<script>
	var map = L.map('map').setView([0, 0], 13);
	L.tileLayer('http://{s}.tile.thunderforest.com/transport/{z}/{x}/{y}.png', {
	attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
	maxZoom: 18
	}).addTo(map);
	</script>
{% endblock %}
